@use './mixins' as *;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

:root {
  //fonts
  --open-sans: 'Open Sans', sans-serif;
  --poppins: 'Poppins', sans-serif;

  //colors
  --pink: hsl(322, 100%, 66%);
  --pink-hover: #FF9ADB;
  --very-pale-cyan: hsl(193, 100%, 96%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);
  --white: #FFF;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--open-sans);
  font-size: inherit;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

address {
  font-style: normal;
}

ul,
ol {
  list-style-type: none;
}

//
.bg-pattern-component {
  background-color: var(--very-pale-cyan);

  &::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 657px;
    background-image: url(/images/bg-hero-mobile.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include media(laptop) {
      background-image: url(/images/bg-hero-desktop.svg);
    }
  }
}

.navbar-component {
  padding: 27px 4.2666667% 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;

  @include media(tablet) {
    padding-top: 48px;
    padding-inline: max(5.5555556%, 50vw - 640px);
  }

  .logo-wrapper-outer {
    width: 104px;

    @include media(tablet) {
      width: 140px;
    }

    @include media(laptop) {
      width: 200px;
    }
  }

  .logo-wrapper-inner {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 15.3846154%;
  }

  .logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .call-to-action {
    padding: 5px 22.5px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: rem(10);
    line-height: 140%;
    color: var(--very-dark-cyan);
    background-color: var(--white);
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.0954201);
    border-radius: 999px;

    @include media(tablet) {
      font-size: rem(14);
    }

    @include media(laptop) {
      padding: 14.5px 64px;
    }

    &:hover {
      color: var(--grayish-blue);
    }
  }
}

// **** HERO SECTION **** //
.hero-section {
  position: relative;
  z-index: 1;
  margin: 80px auto 0;
  padding-bottom: 37px;
  width: min(81.0666667%, 536px);
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 56px;

  @include media(laptop) {
    grid-template-columns: 536px 1fr;
    column-gap: 54px;
    width: calc(100% - 10px);
    margin: 71px 10px 0 0;
    padding-inline: max(5.5555556%, 50vw - 640px);
    align-items: center;
    padding-bottom: 72px;
  }

  .headline {
    font-family: var(--poppins);
    font-weight: 600;
    font-size: rem(24);
    line-height: 150%;
    text-align: center;
    color: var(--very-dark-cyan);

    @include media(laptop) {
      font-size: rem(40);
      text-align: left;
    }
  }

  .subheadline {
    margin-top: 24px;
    font-family: var(--open-sans);
    font-weight: 400;
    font-size: rem(16);
    line-height: 150%;
    text-align: center;
    color: var(--very-dark-cyan);

    @include media(laptop) {
      margin-top: 32px;
      font-size: rem(18);
      text-align: left;
    }
  }

  .call-to-action {
    margin-top: 32px;
    display: block;
    width: max-content;
    margin-inline: auto;
    font-family: var(--open-sans);
    font-weight: 700;
    font-size: rem(12);
    line-height: 133.33333%;
    color: var(--white);
    padding: 12px 60px;
    border-radius: 999px;
    background-color: var(--pink);
    box-shadow: 2px 3px 6px 1px rgba(255, 82, 193, 0.166185);

    @include media(laptop) {
      font-size: rem(14);
      line-height: 135.7142857%;
      padding: 18.5px 70px;
      margin: 49px 0 0;
    }

    &:hover {
      background-color: var(--pink-hover);
    }
  }

  .bg-illustration {
    width: 100%;
    padding-bottom: 70.6081081%;
    background-image: url(/images/illustration-mockups.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @include media(laptop) {
      padding-bottom: 70.8823529%;
    }
  }
}


// **** DETAILS SECTION **** //
.details-section {
  margin-top: 59px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  @include media(laptop) {
    margin-top: 160px;
  }
}

.details-card {
  width: min(89.3333333%, 560px);
  margin-inline: auto;
  padding: 24px 40px 33px;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.07);
  border-radius: 16px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;

  @include media(tablet) {
    padding: 40px;
  }

  @include media(laptop) {
    padding: 0;
    width: min(85.5555556%, 1232px);
    align-items: center;

    &.grow-together {
      padding-inline: 120px 16px;
      grid-template-columns: 488fr 440fr;
      gap: 168px;

      .header {
        grid-area: 1 / 1 / auto / auto;
      }
    }

    &.flowing-conversations {
      padding-inline: 109px 29px;
      grid-template-columns: 440fr 499fr;
      gap: 155px;
    }

    &.your-users {
      padding-inline: 120px 16px;
      grid-template-columns: 477fr 440fr;
      gap: 179px;

      .header {
        grid-area: 1 / 1 / auto / auto;
      }
    }
  }

  &::before {
    content: '';
    display: block;
    width: 100%;
    padding-bottom: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &.grow-together::before {
    background-image: url(/images/illustration-grow-together.svg);
  }

  &.flowing-conversations::before {
    background-image: url(/images/illustration-flowing-conversation.svg);
  }

  &.your-users::before {
    background-image: url(/images/illustration-your-users.svg);
  }

  .title {
    font-family: var(--poppins);
    font-weight: 600;
    font-size: rem(20);
    line-height: 150%;
    text-align: center;
    color: var(--very-dark-cyan);

    @include media(laptop) {
      font-size: rem(28);
      text-align: left;
    }
  }

  .text {
    margin-top: 16px;
    font-family: var(--open-sans);
    font-weight: 400;
    font-size: rem(14);
    line-height: 150%;
    text-align: center;
    color: var(--grayish-blue);

    @include media(laptop) {
      font-size: rem(18);
      text-align: left;
    }
  }
}

.call-to-action-section {
  margin: 120px auto 0;
  width: min(93.8666667%, 860px);
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.0710768);
  border-radius: 15px;
  padding: 41px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  @include media(laptop) {
    margin-top: 160px;
    padding: 56px 0 52px;
    gap: 32px;
  }

  .title {
    font-family: var(--poppins);
    font-weight: 600;
    font-size: rem(18);
    line-height: 167%;
    text-align: center;
    color: var(--very-dark-cyan);

    @include media(laptop) {
      font-size: rem(32);
      line-height: 188%;
    }
  }

  .link {
    background-color: var(--pink);
    box-shadow: 0px 3px 7px rgba(0, 37, 46, 0.223053);
    border-radius: 999px;
    padding: 12.5px 50px;
    font-family: var(--open-sans);
    font-weight: 700;
    font-size: rem(10);
    line-height: 150%;
    color: var(--white);

    @include media(tablet) {
      font-size: rem(14);
    }

    @include media(laptop){
      font-size: rem(20);
      padding: 25px 100px;
    }

    &:hover {
      background-color: var(--pink-hover);
    }
  }

}