@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");
:root {
  --open-sans: "Open Sans", sans-serif;
  --poppins: "Poppins", sans-serif;
  --pink: hsl(322, 100%, 66%);
  --pink-hover: #FF9ADB;
  --very-pale-cyan: hsl(193, 100%, 96%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);
  --white: #FFF;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--open-sans);
  font-size: inherit;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

address {
  font-style: normal;
}

ul,
ol {
  list-style-type: none;
}

.bg-pattern-component {
  background-color: var(--very-pale-cyan);
}
.bg-pattern-component::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 657px;
  background-image: url(/images/bg-hero-mobile.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 1200px) {
  .bg-pattern-component::before {
    background-image: url(/images/bg-hero-desktop.svg);
  }
}

.navbar-component {
  padding: 27px 4.2666667% 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 720px) {
  .navbar-component {
    padding-top: 48px;
    padding-inline: max(5.5555556%, 50vw - 640px);
  }
}
.navbar-component .logo-wrapper-outer {
  width: 104px;
}
@media screen and (min-width: 720px) {
  .navbar-component .logo-wrapper-outer {
    width: 140px;
  }
}
@media screen and (min-width: 1200px) {
  .navbar-component .logo-wrapper-outer {
    width: 200px;
  }
}
.navbar-component .logo-wrapper-inner {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 15.3846154%;
}
.navbar-component .logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.navbar-component .call-to-action {
  padding: 5px 22.5px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 0.625rem;
  line-height: 140%;
  color: var(--very-dark-cyan);
  background-color: var(--white);
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.0954201);
  border-radius: 999px;
}
@media screen and (min-width: 720px) {
  .navbar-component .call-to-action {
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 1200px) {
  .navbar-component .call-to-action {
    padding: 14.5px 64px;
  }
}
.navbar-component .call-to-action:hover {
  color: var(--grayish-blue);
}

.hero-section {
  position: relative;
  z-index: 1;
  margin: 80px auto 0;
  padding-bottom: 37px;
  width: min(81.0666667%, 536px);
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 56px;
}
@media screen and (min-width: 1200px) {
  .hero-section {
    grid-template-columns: 536px 1fr;
    column-gap: 54px;
    width: calc(100% - 10px);
    margin: 71px 10px 0 0;
    padding-inline: max(5.5555556%, 50vw - 640px);
    align-items: center;
  }
}
.hero-section .headline {
  font-family: var(--poppins);
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 150%;
  text-align: center;
  color: var(--very-dark-cyan);
}
@media screen and (min-width: 1200px) {
  .hero-section .headline {
    font-size: 2.5rem;
    text-align: left;
  }
}
.hero-section .subheadline {
  margin-top: 24px;
  font-family: var(--open-sans);
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  text-align: center;
  color: var(--very-dark-cyan);
}
@media screen and (min-width: 1200px) {
  .hero-section .subheadline {
    margin-top: 32px;
    font-size: 1.125rem;
    text-align: left;
  }
}
.hero-section .call-to-action {
  margin-top: 32px;
  display: block;
  width: max-content;
  margin-inline: auto;
  font-family: var(--open-sans);
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 133.33333%;
  color: var(--white);
  padding: 12px 60px;
  border-radius: 999px;
  background-color: var(--pink);
  box-shadow: 2px 3px 6px 1px rgba(255, 82, 193, 0.166185);
}
@media screen and (min-width: 1200px) {
  .hero-section .call-to-action {
    font-size: 0.875rem;
    line-height: 135.7142857%;
    padding: 18.5px 70px;
    margin: 49px 0 0;
  }
}
.hero-section .call-to-action:hover {
  background-color: var(--pink-hover);
}
.hero-section .bg-illustration {
  width: 100%;
  padding-bottom: 70.6081081%;
  background-image: url(/images/illustration-mockups.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/*# sourceMappingURL=index.css.map */
