@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");
:root {
  --open-sans: "Open Sans", sans-serif;
  --poppins: "Poppins", sans-serif;
  --pink: hsl(322, 100%, 66%);
  --pink-hover: #FF9ADB;
  --very-pale-cyan: hsl(193, 100%, 96%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);
  --white: #FFF;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--open-sans);
  font-size: inherit;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

address {
  font-style: normal;
}

ul,
ol {
  list-style-type: none;
}

.screenreader {
  position: absolute !important;
  left: -100vw;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.bg-pattern-component {
  background-color: var(--very-pale-cyan);
}
.bg-pattern-component::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 657px;
  background-image: url(/images/bg-hero-mobile.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 1200px) {
  .bg-pattern-component::before {
    background-image: url(/images/bg-hero-desktop.svg);
  }
}

.navbar-component {
  padding: 27px 4.2666667% 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 720px) {
  .navbar-component {
    padding-top: 48px;
    padding-inline: max(5.5555556%, 50vw - 640px);
  }
}
.navbar-component .logo-wrapper-outer {
  width: 104px;
}
@media screen and (min-width: 720px) {
  .navbar-component .logo-wrapper-outer {
    width: 140px;
  }
}
@media screen and (min-width: 1200px) {
  .navbar-component .logo-wrapper-outer {
    width: 200px;
  }
}
.navbar-component .logo-wrapper-inner {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 15.3846154%;
}
.navbar-component .logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.navbar-component .call-to-action {
  padding: 5px 22.5px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 0.625rem;
  line-height: 140%;
  color: var(--very-dark-cyan);
  background-color: var(--white);
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.0954201);
  border-radius: 999px;
}
@media screen and (min-width: 720px) {
  .navbar-component .call-to-action {
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 1200px) {
  .navbar-component .call-to-action {
    padding: 14.5px 64px;
  }
}
.navbar-component .call-to-action:hover {
  color: var(--grayish-blue);
}

.hero-section {
  position: relative;
  z-index: 1;
  margin: 80px auto 0;
  padding-bottom: 37px;
  width: min(81.0666667%, 536px);
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 56px;
}
@media screen and (min-width: 1200px) {
  .hero-section {
    grid-template-columns: 536px 1fr;
    column-gap: 54px;
    width: calc(100% - 10px);
    margin: 71px 10px 0 0;
    padding-inline: max(5.5555556%, 50vw - 640px);
    align-items: center;
    padding-bottom: 72px;
  }
}
.hero-section .headline {
  font-family: var(--poppins);
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 150%;
  text-align: center;
  color: var(--very-dark-cyan);
}
@media screen and (min-width: 1200px) {
  .hero-section .headline {
    font-size: 2.5rem;
    text-align: left;
  }
}
.hero-section .subheadline {
  margin-top: 24px;
  font-family: var(--open-sans);
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  text-align: center;
  color: var(--very-dark-cyan);
}
@media screen and (min-width: 1200px) {
  .hero-section .subheadline {
    margin-top: 32px;
    font-size: 1.125rem;
    text-align: left;
  }
}
.hero-section .call-to-action {
  margin-top: 32px;
  display: block;
  width: max-content;
  margin-inline: auto;
  font-family: var(--open-sans);
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 133.33333%;
  color: var(--white);
  padding: 12px 60px;
  border-radius: 999px;
  background-color: var(--pink);
  box-shadow: 2px 3px 6px 1px rgba(255, 82, 193, 0.166185);
}
@media screen and (min-width: 1200px) {
  .hero-section .call-to-action {
    font-size: 0.875rem;
    line-height: 135.7142857%;
    padding: 18.5px 70px;
    margin: 49px 0 0;
  }
}
.hero-section .call-to-action:hover {
  background-color: var(--pink-hover);
}
.hero-section .bg-illustration {
  width: 100%;
  padding-bottom: 70.6081081%;
  background-image: url(/images/illustration-mockups.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
@media screen and (min-width: 1200px) {
  .hero-section .bg-illustration {
    padding-bottom: 70.8823529%;
  }
}

.details-section {
  margin-top: 59px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
@media screen and (min-width: 1200px) {
  .details-section {
    margin-top: 160px;
  }
}

.details-card {
  width: min(89.3333333%, 560px);
  margin-inline: auto;
  padding: 24px 40px 33px;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.07);
  border-radius: 16px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}
@media screen and (min-width: 720px) {
  .details-card {
    padding: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .details-card {
    padding: 0;
    width: min(85.5555556%, 1232px);
    align-items: center;
  }
  .details-card.grow-together {
    padding-inline: 120px 16px;
    grid-template-columns: 488fr 440fr;
    gap: 168px;
  }
  .details-card.grow-together .header {
    grid-area: 1/1/auto/auto;
  }
  .details-card.flowing-conversations {
    padding-inline: 109px 29px;
    grid-template-columns: 440fr 499fr;
    gap: 155px;
  }
  .details-card.your-users {
    padding-inline: 120px 16px;
    grid-template-columns: 477fr 440fr;
    gap: 179px;
  }
  .details-card.your-users .header {
    grid-area: 1/1/auto/auto;
  }
}
.details-card::before {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.details-card.grow-together::before {
  background-image: url(/images/illustration-grow-together.svg);
}
.details-card.flowing-conversations::before {
  background-image: url(/images/illustration-flowing-conversation.svg);
}
.details-card.your-users::before {
  background-image: url(/images/illustration-your-users.svg);
}
.details-card .title {
  font-family: var(--poppins);
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 150%;
  text-align: center;
  color: var(--very-dark-cyan);
}
@media screen and (min-width: 1200px) {
  .details-card .title {
    font-size: 1.75rem;
    text-align: left;
  }
}
.details-card .text {
  margin-top: 16px;
  font-family: var(--open-sans);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 150%;
  text-align: center;
  color: var(--grayish-blue);
}
@media screen and (min-width: 1200px) {
  .details-card .text {
    font-size: 1.125rem;
    text-align: left;
  }
}

.call-to-action-section {
  position: relative;
  z-index: 1;
  background-color: var(--white);
  margin: 120px auto 0;
  width: min(93.8666667%, 860px);
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.0710768);
  border-radius: 15px;
  padding: 41px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
@media screen and (min-width: 1200px) {
  .call-to-action-section {
    margin-top: 160px;
    padding: 56px 0 52px;
    gap: 32px;
  }
}
.call-to-action-section .title {
  font-family: var(--poppins);
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 167%;
  text-align: center;
  color: var(--very-dark-cyan);
}
@media screen and (min-width: 1200px) {
  .call-to-action-section .title {
    font-size: 2rem;
    line-height: 188%;
  }
}
.call-to-action-section .link {
  background-color: var(--pink);
  box-shadow: 0px 3px 7px rgba(0, 37, 46, 0.223053);
  border-radius: 999px;
  padding: 12.5px 50px;
  font-family: var(--open-sans);
  font-weight: 700;
  font-size: 0.625rem;
  line-height: 150%;
  color: var(--white);
}
@media screen and (min-width: 720px) {
  .call-to-action-section .link {
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 1200px) {
  .call-to-action-section .link {
    font-size: 1.25rem;
    padding: 25px 100px;
  }
}
.call-to-action-section .link:hover {
  background-color: var(--pink-hover);
}

.footer-section {
  margin-top: -67px;
  padding: 140px 4.2666667% 46px;
  background-color: var(--very-dark-cyan);
  display: flex;
  flex-direction: column;
  gap: 18px;
}
@media screen and (min-width: 1200px) {
  .footer-section {
    margin-top: -96px;
    gap: 32px;
    padding: 144px 5.4166667% 64px 8.3333333%;
  }
}
.footer-section .logo-link {
  display: block;
  width: 170px;
  height: 28px;
  background-color: var(--white);
  -webkit-mask-image: url(/images/logo.svg);
  mask-image: url(/images/logo.svg);
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
@media screen and (min-width: 1200px) {
  .footer-section .logo-link {
    width: 152px;
    height: 24px;
  }
}
.footer-section .content {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .footer-section .content {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer-section .address {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (min-width: 1200px) {
  .footer-section .address {
    max-width: 379px;
    gap: 16px;
  }
}
.footer-section .address__location, .footer-section .address__phone, .footer-section .address__email {
  font-family: var(--open-sans);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 171%;
  color: var(--white);
  display: grid;
  grid-template-columns: 24px 1fr;
  gap: 16px;
}
.footer-section .address__location::before, .footer-section .address__phone::before, .footer-section .address__email::before {
  display: block;
  width: 24px;
  height: 24px;
  content: "";
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.footer-section .address__location::before {
  background-image: url(/images/icon-location.svg);
}
.footer-section .address__phone::before {
  background-image: url(/images/icon-phone.svg);
}
.footer-section .address__email::before {
  background-image: url(/images/icon-email.svg);
}
.footer-section .navlink-container {
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-section .navlink-container.first {
  margin-top: 41px;
}
@media screen and (min-width: 1200px) {
  .footer-section .navlink-container.first {
    margin-top: 0;
  }
}
.footer-section .navlink-container.second {
  margin-top: 16px;
}
@media screen and (min-width: 1200px) {
  .footer-section .navlink-container.second {
    margin-top: 0;
  }
}
.footer-section .navlink {
  font-family: var(--open-sans);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 193%;
  color: var(--white);
}
.footer-section .socials-links-and-copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
}
@media screen and (min-width: 1200px) {
  .footer-section .socials-links-and-copyright {
    margin-top: 0;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.footer-section .social-links-container {
  display: flex;
  justify-content: space-between;
  width: 120px;
}
.footer-section .social-link {
  width: 32px;
  height: 32px;
  background-color: var(--white);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  mask-size: contain;
  -webkit-mask-size: contain;
}
.footer-section .social-link:hover {
  background-color: var(--pink);
}
.footer-section .social-link[aria-label=facebook] {
  mask-image: url(/images/facebook-icon.svg);
  -webkit-mask-image: url(/images/facebook-icon.svg);
}
.footer-section .social-link[aria-label=twitter] {
  mask-image: url(/images/twitter-icon.svg);
  -webkit-mask-image: url(/images/twitter-icon.svg);
}
.footer-section .social-link[aria-label=instagram] {
  mask-image: url(/images/instagram-icon.svg);
  -webkit-mask-image: url(/images/instagram-icon.svg);
}
.footer-section .copyright {
  margin-top: 24px;
  font-family: var(--open-sans);
  font-weight: 400;
  font-size: 0.6875rem;
  line-height: 154.5454545%;
  color: var(--white);
}

/*# sourceMappingURL=index.css.map */
